.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}
.square {
  width: 100px;
  height: 100px;
  margin: 10px;
  float: left;
  animation: App-logo-spin infinite 10s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    background-color: red;
  }
  20% {
    background-color: rebeccapurple;
  }
  40% {
    background-color: cornflowerblue;
  }
  60% {
    background-color: greenyellow;
  }
  80% {
    background-color: yellow;
  }
  90% {
    background-color: coral;
  }
  100% {
    background-color: red;
  }
  }
